<ion-header>
  <ion-toolbar>
      <ion-title>cropdecided</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
          <ion-label>Select Soil</ion-label>
          <ion-select [(ngModel)]="soil">
              <ion-select-option *ngFor="let item of soilList" [value]="item">
                  {{item}}
              </ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label>Area</ion-label>
          <ion-input [(ngModel)]="area" placeholder="in sq hectares"></ion-input>
      </ion-item>
  </ion-list>
  <ion-button (click)="cropUnsureSend()" color="dark" expand="block" fill="solid">Predict</ion-button>
  
  <ion-label>Predictions</ion-label>
  <ion-grid>
      <ion-row *ngFor="let item of respArray">
          <ion-col>{{item.type}}</ion-col>
          <ion-col>{{item.value}}</ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
